<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/mycss.css">
<script type="text/javascript" src="js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/checkEmailExist.js"></script>
</head>
<body>
	<h2 id="title">Register Form</h2>
	<div class="row">
		<div class="col-sm-4  " style="background-color: lavender;">
			<div>
				<label class="row flex-row-reverse ma ma1">*Email</label>
			</div>
			<div>
				<label class="row flex-row-reverse ma ma1">*Password</label>
			</div>
			<div>
				<label class="row flex-row-reverse ma ma1">*First name</label>
			</div>
			<div>
				<label class="row flex-row-reverse ma ma1">*Last name</label>
			</div>
			<div>
				<label class="row flex-row-reverse ma ma1">Industry</label>
			</div>
			<div>
				<label class="row flex-row-reverse ma ma1">Job title</label>
			</div>
			<div>
				<label class="row flex-row-reverse ma ma1">Company</label>
			</div>
			<div>
				<label class="row flex-row-reverse ma ma1">City</label>
			</div>
			<div>
				<label class="row flex-row-reverse ma ma1">Telephone</label>
			</div>
			<div>
				<label class="row flex-row-reverse ma ma1">Favorites</label>
			</div>
			<div class="row flex-row-reverse ma ma1">select your desired
				platform</div>
			<div class="row flex-row-reverse ma ma1">
				<input type="submit" title="Submit" id="suubmit" ></input>
			</div>

		</div>
		<div class="col-sm-4"
			style="background-color: lavenderblush; padding: 5px">
			<div class="ma">
				<input class="input-group" id="email" name="email"
					onblur="checkEmail()">
			</div>
			<div class="ma">
				<input class="input-group">
			</div>
			<div class="ma">
				<input class="input-group">
			</div>
			<div class="ma">
				<input class="input-group">
			</div>
			<div class="ma">
				<select>
					<option>Computer Software</option>
					<option>Consulting</option>
					<option>Distribution</option>
					<option>Education</option>
					<option>Financial Services</option>
					<option>other...</option>
				</select>
			</div>
			<div class="ma">
				<input class="input-group">
			</div>
			<div class="ma">
				<input class="input-group">
			</div>
			<div class="ma">
				<select>
					<option>Ha Noi</option>
					<option>Hue</option>
					<option>Da Nang</option>
					<option>Ho Chi Minh</option>
				</select>
			</div>
			<div class="ma">
				<input class="input-group">
			</div>
			<div class="ma">
				<input type="checkbox" title="Music" id="Music">Music<input
					type="checkbox" title="Sport" id="Sport"> <label
					for="Sport">Sport</label> <input type="checkbox" title="Travel"
					id="Travel"> <label for="Travel">Travel</label> <input
					type="checkbox" title="Education" id="Education"> <label
					for="Education">Education</label>
			</div>
			<div>
				<label for="c++"><input type="radio" name="gr1" id="c++">C++</label>
				<label for="java"><input type="radio" name="gr1" id="java">JAVA</label>
				<label for="both"><input type="radio" name="gr1" id="both">BOTH</label>
			</div>
		</div>
	</div>


</body>
</html>